
DEBUG=1

debug () {
    if [[ $DEBUG -eq 1 ]]; then
        echo -e $1
    fi
}

pp_str() {
    IFS=':' read -ra PY_PATH <<< "$PYTHONPATH"
    for p in "${PY_PATH[@]}"; do
        debug '\t'$p
    done
}

pp_add() {
    if [[ $PYTHONPATH = "" ]]; then
        echo "OpenADR Project Path is now Added to PYTHONPATH"
        export PYTHONPATH=$OADR_PROJ_PATH
    fi

    pp_empty=1
    oadr_p_present=0
    IFS=':' read -ra PY_PATH <<< "$PYTHONPATH"
    for p in "${PY_PATH[@]}"; do
        pp_empty=0
        if [[ $p = $OADR_PROJ_PATH ]]; then
            oadr_p_present=1
        fi
    done

}

# Absolute filename for this script
SETUPPY=$(readlink -f $0)
echo $SETUPPY

# Absolute path for OpenADR project
OADR_PROJ_PATH=$(dirname $SETUPPY)

echo "OpenADR Project Path =" $OADR_PROJ_PATH

debug "Current PYTHONPATH = " 
pp_str

pp_add

debug "PYTHONPATH Configured for OpenADR = " 
pp_str

echo "Setup ..Success.."

